.ThirdPartyIcon {
  font-size: 5em;
}

.Devices {
  background-color: #fafafa;
  box-shadow: 3px 5px rgba(168, 168, 168, 0.3);
}

.Login {
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 5px rgba(168, 168, 168, 0.3);
  margin-top: 20px;
}

.ColOutline {
  border: blue dotted;
}

#root {
  height: 100vh;
  background-color: #eee;
  padding: 10px;
}

.router {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #eee;
  color: white;
  margin-bottom: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

